
*.pdb
*.obj
*.idb
FinalRadioTelescope/x64/Debug/FinalRad.71c7b00b.tlog/CL.command.1.tlog
FinalRadioTelescope/x64/Debug/FinalRad.71c7b00b.tlog/CL.read.1.tlog
FinalRadioTelescope/x64/Debug/FinalRad.71c7b00b.tlog/CL.write.1.tlog
FinalRadioTelescope/x64/Debug/FinalRad.71c7b00b.tlog/FinalRadioTelescope.lastbuildstate
FinalRadioTelescope/x64/Debug/FinalRad.71c7b00b.tlog/link.command.1.tlog
FinalRadioTelescope/x64/Debug/FinalRad.71c7b00b.tlog/link.read.1.tlog
FinalRadioTelescope/x64/Debug/FinalRad.71c7b00b.tlog/link.write.1.tlog
FinalRadioTelescope/x64/Debug/FinalRadioTelescope.exe
FinalRadioTelescope/x64/Debug/FinalRadioTelescope.exe.recipe
FinalRadioTelescope/x64/Debug/FinalRadioTelescope.ilk
FinalRadioTelescope/x64/Debug/FinalRadioTelescope.log
FinalRadioTelescope/x64/Debug/FinalRadioTelescope.vcxproj.FileListAbsolute.txt
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/.suo
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/Browse.VC.db
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/Browse.VC.db-shm
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/Browse.VC.db-wal
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/Browse.VC.opendb
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/1484b75f2970f3a4/MAIN.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/273cdb6580c63f17/ARDUINOSENDBACKCONTROL.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/3d03cca22ff6a640/MAIN.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/3ec2c9213813192d/ARDUINOFILECONTROL.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/4559b21bb09628ca/IMGUI.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/4e1a7c9efcc72061/MAIN.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/512813ef95064bcc/FINALRADIOTELESCOPE.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/51b5a19a5fcf6426/ARDUINOSENDBACKCONTROL.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/669a29d7a8c9ef7d/IMAGECOMPILER.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/6d0a1ac30c754af6/ARDUINOFILECONTROL.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/71f1203b228ef54c/MAIN.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/7276f2d97fc3cf4d/IMAGECOMPILER.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/7f665ffeada66f57/ARDUINOFILECONTROL.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/8005bad847072ba1/MAIN.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/93ce2443f0239197/ARDUINOFILECONTROL.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/d347d97e16535761/IMAGECOMPILER.ipch
FinalRadioTelescope/.vs/FinalRadioTelescope/v16/ipch/AutoPCH/efe72e738a475066/ARDUINOSENDBACKCONTROL.ipch
FinalRadioTelescope/.vs/ProjectSettings.json
FinalRadioTelescope/.vs/slnx.sqlite
FinalRadioTelescope/Debug/ArduinoSendbackControl.obj
FinalRadioTelescope/Debug/FinalRad.71c7b00b.tlog/CL.command.1.tlog
FinalRadioTelescope/Debug/FinalRad.71c7b00b.tlog/CL.read.1.tlog
FinalRadioTelescope/Debug/FinalRad.71c7b00b.tlog/CL.write.1.tlog
FinalRadioTelescope/Debug/FinalRad.71c7b00b.tlog/FinalRadioTelescope.lastbuildstate
FinalRadioTelescope/Debug/FinalRad.71c7b00b.tlog/link.read.1.tlog
FinalRadioTelescope/Debug/FinalRad.71c7b00b.tlog/link.write.1.tlog
FinalRadioTelescope/Debug/FinalRad.71c7b00b.tlog/unsuccessfulbuild
FinalRadioTelescope/Debug/FinalRadioTelescope.Build.CppClean.log
FinalRadioTelescope/Debug/FinalRadioTelescope.exe
FinalRadioTelescope/Debug/FinalRadioTelescope.exe.recipe
FinalRadioTelescope/Debug/FinalRadioTelescope.ilk
FinalRadioTelescope/Debug/FinalRadioTelescope.log
FinalRadioTelescope/Debug/FinalRadioTelescope.vcxproj.FileListAbsolute.txt
FinalRadioTelescope/Debug/ImageCompiler.obj
FinalRadioTelescope/Debug/imgui.obj
FinalRadioTelescope/Debug/imgui_demo.obj
FinalRadioTelescope/Debug/imgui_draw.obj
FinalRadioTelescope/Debug/imgui_impl_dx9.obj
FinalRadioTelescope/Debug/imgui_impl_win32.obj
FinalRadioTelescope/Debug/imgui_tables.obj
FinalRadioTelescope/Debug/imgui_widgets.obj
FinalRadioTelescope/Debug/Main.obj
FinalRadioTelescope/Debug/vc142.idb
FinalRadioTelescope/Debug/vc142.pdb
FinalRadioTelescope/imgui.ini
*.sqlite-journal
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/Browse.VC.db
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/Browse.VC.db-shm
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/Browse.VC.db-wal
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/Browse.VC.opendb
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/dced1371d9e64bb6/RADIOTELESCOPEPROJECT.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/393cc5cb3103cdb0/IMGUI_IMPL_WIN32.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/51fadfb23573c8b7/MAIN.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/543adbeab8a5c6a8/IMAGECOMPILER.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/6b83171f099caf6f/IMGUI_SINGLE_FILE.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/a61b5d6b188cbfd8/IMGUI_DRAW.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/a9ea64660c8f93e0/IMGUI_IMPL_DX9.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/bc24a921f61eac3a/MAIN.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/c0685853901c9a40/IMAGECOMPILER.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/c635882b17f21ad8/MAIN.ipch
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/ipch/AutoPCH/fb4793aeada5e26f/MAIN.ipch
*.sarif
*.tlog
*.log
RadioTelescopeProject/.editorconfig
*.ipch
*.db
RadioTelescopeProject/.vs/RadioTelescopeProject/v17/.suo
RadioTelescopeProject/.vs/RadioTelescopeProject/v16/.suo
RadioTelescopeProject/Debug/RadioTelescopeProject.exe.recipe
